@charset "UTF-8";

.yanel-GalleryViewer{
  width: 500px;
  background-color: #FAFAFA;
  border: 1px solid #cecece;
}

.yanel-GalleryViewer-BlownUp{
  background-color: white;
}

.yanel-GalleryViewer-Title{
  font-size: large;
}

.yanel-GalleryViewer-Subtitle{
  font-size: small;
}

.yanel-GalleryViewer-Summary{
  font-size: small;
  padding: 10px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.yanel-GalleryViewer-Item{
	/*
	border: 1px solid #cecece;
	*/
	
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.yanel-GalleryViewer-NavigationBar{
  width: 100%;
}

.yanel-GalleryViewer-BlowButton, .yanel-GalleryViewer-CloseButton{
  vertical-align: middle;
  background-color: #000000;
  color: white;
    padding: 0px;
  margin: 0px;
}

.yanel-GalleryScroller{
}

.yanel-GalleryScroller-Left, .yanel-GalleryScroller-Left-Disabled, .yanel-GalleryScroller-Right, .yanel-GalleryScroller-Right-Disabled{
  width: 25px;
  height: 20px;
  border: 0px;
}

.yanel-GalleryScroller-Left, .yanel-GalleryScroller-Left-Disabled{
  background-image: url("gallery_previous.gif");
}

.yanel-GalleryScroller-Right, .yanel-GalleryScroller-Right-Disabled{
  background-image: url("gallery_next.gif");
}

.yanel-GalleryScroller-Left-Disabled, .yanel-GalleryScroller-Right-Disabled{
  filter:alpha(opacity=50);-moz-opacity:.50;opacity:.50;
}

.yanel-GalleryScroller-Middle{
  margin-left: 10px; 
  margin-right: 10px;
}