*{
  font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
  font-size:13px
}
body  { 
  margin-top:10px; 
  background-color:#ffffff;
} 


hr {
  border: 0;
  color:#4682B4;
  background-color:#4682B4;
  height: 1px;
}

a  { 
  color:#0066cc; 
  text-decoration:none
} 

a:hover  { 
  text-decoration:underline; 
  color:#3366cc
} 

a:visited  { 
  text-decoration:none; 
  color:#777777
} 

a:visited:hover  { 
  text-decoration:underline; 
  color:#777777
} 

table .sortable th  { 
  cursor:pointer; 
}

table  { 
  border-collapse:collapse;
  border-color:#999999
} 

td { 
  border:1px solid;
  border-color:#999999;
  padding:2px;
}

th { 
  border:1px solid;
  border-color:#999999;
  background-color:#f7f7f7;
  padding:2px;
}

h1 { 
  font-size:x-large;
}
h2 { 
  font-size:large;
}
h3 { 
  font-size:medium;
}

