/* Generic style */

/* */
/*
.gwt-Button {
  font-size: 150%;
}
*/

/* Custom style */

/* */
/*
.gwt-wyona-SaveButton {
  font-size: 300%;
  width: 200px;
}
*/

/* */
/*
.gwt-wyona-CanelButton {
  font-size: 300%;
  width: 200px;
}
*/
